
h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 1000;
  font-size: xx-large;



}

nav {
  font-size: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;


}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-menu li {
  margin-right: 20px;
}

#divider {
  border-bottom: 4px solid #000000;
  opacity: 75%;
  margin: 50px;
  width: auto;
  align-items: center;
}

#about {
  text-align: center;
}

footer {
  background-color: #213D39;

}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.table-bookings {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}



.pfont {
  width: 90%;
  padding: 5% 0% 40% 9%;
  align-items: center;

}


.head-first {
  padding-bottom: 4%;
  font-weight: 800;
  text-align: center;
}

.head-second {
  padding-bottom: 4%;
  font-weight: 800;
  text-align: center;
}

.footer-nav-item {
  font-weight: 100;
}
.copyright{
  font-weight: 100;
  font-size: small;
  padding-top: 5%;
  
}
h5{
  font-weight: 800;
}

.button-subscribe{
  align-items: center;
  width: 100%;
}

.social-media
{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffffff;
  font-style: normal;
  text-decoration-line: none;
  

}
.social-media:hover{
  color: rgb(163, 159, 159);
}

.carousel-button {
  Color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16%;
}
td{
  padding-left: 7000000px;
}


#menu-header-2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  font-weight: bold;
  font-size: x-large;


}
#menu-header-5{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  font-size: medium;
}
#menu-header-6{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:500;
}
ul {
  list-style-type: none;
}
#extras-header-5{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  font-size: medium;
  padding-top: 2%;
}
.menu-header{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  font-weight: 800;
  font-size: 2em;
  padding-top: 10%;
  padding-bottom: 10%;

}
#center-menu{
  padding-left: 10%;
  
}
#menu-padding{
  padding-top: 20%;
}