*{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:600;
    text-align: center;

}
h2{
 font-style: normal;
forn    
}
nav{
    font-size: 100%;
   
    
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-menu li {
  margin-right: 20px; 
}




table {
    margin-left: auto;
    margin-right: auto;
  }

  th{
    font-size: 150%;
  }
  td{
    
    font-size: 150%;
  }
 #about{
  text-align: center;
  
 } 
 footer{
  background-color: green;

} 
 .container {
  max-width: 960px; 
  margin: 0 auto;
}
.table-bookings {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-button {
  position: absolute;
  background-color: transparent;
  border: 4px solid #ffffff;
  border-radius: 20px 20px 20px 20px;
  color: #ffffff;
  font-size: 20px; 
  padding: 8px 8px; 

}
.center-button a:visited {
  color: #ffffff; 
}
img-custom-size{
  width: auto;
  height: 80px;
}
hr{
  border: ;
  height: 2px;
  background-color: black;
  
}
hr {
  color: black;
}
.carousel-button {
  Color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 60%;
}
